.janela {
    margin: 100px auto;
    width: 30%;
    border: 1px solid #80808049;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: #61a3ba;
}

.conteudo {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form>div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

form div input {
    border: 1px solid #80808049;
    background-color: #e8f0fe;
}

input:focus {
    outline: 2px solid #f1c18d;
}

input {
    height: 30px;
    border-radius: 10px;
}

form>input {
    width: 100%;
    margin-top: 15px;
    background-color: #FFFFDD;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 550;
}

form>input:hover {
    background-color: #f1c18d;
    cursor: pointer;
}

.janela p {
    font-size: 12px;
    text-align: center;
}

label {
    margin-bottom: 10px;
    font-weight: 600;
}