.boxservicos {
   width: 60%;

   margin-top: 80px;
   display: flex;
   justify-content: space-around;
}

.beauty {
   width: 40%;
   text-align: center;

   background-color: #9ccbda;
   border-radius: 20px;
}

.beauty img {
   width: 100%;
}

.health {
   width: 40%;
   text-align: center;

   background-color: #9ccbda;
   border-radius: 20px;
}

.health img {
   width: 100%;
}

h2 {
   margin: 30px 0px;
   color: #015a06;
}

main p {
   margin: 30px 0px;
   color: #015a06;
   padding: 10px;
   font-weight: 550;
}